h1 
{
    font-family: 'Chrono',serif;
    color: #b22222;
    font-size: 7rem;
    opacity: 0;
}
.logs
{
    position: relative;
    width: 31rem;
    height: 30rem;
}
.contBtn
{
    width: 30rem;
    height: 3rem;
    opacity: 0;
    pointer-events: none;
}


.gif
{
    position: relative;
}
.gif img 
{
    position: relative;
    border: 1px solid #b22222;
    border-radius: 50%;
    width: 10.625rem;
    height: 10.625rem;
    cursor: pointer;
}
.footer
{

    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
#frame 
{
    width: 150vw;
    height: 150vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #b22222;
    clip-path: circle(1%);
    transition: clip-path 0.5s ease-in-out;
    z-index: -1;
}
.toggleFrame
{
    animation: dominio 0.8s cubic-bezier(0.83, 0, 0.17, 1) forwards;
}
.toggleShowUp
{
    
    animation: showUp 0.5s  forwards ;
    animation-delay: 0.6s;
    pointer-events: all;
}
.fontSizeLi
{
    font-size: 1.3rem;
}

@keyframes dominio
{
    0%,100%{clip-path: circle(1%);}
    50%{clip-path: circle(200%);}
}
@keyframes showUp 
{   
    to{opacity: 1;}    
}
