/* css usado na view de geraNome e na view gerarPersonagem */
.containerNames{
    background-color: #192e5c;
    border-radius: 10%;
    width: 50rem;
    height: 15rem;
    border: 0.03px solid;
}
.spanName{
    font-family: 'Algerian';
    font-size: 3rem;
    color: #b22222;
}
