.containerPersonagen{
    background-color: #f4e1c1;
    width: 30rem;
    height: 26rem;
    border: 11px double #5c4033;
}
.containerPersonagen2{
    width: 100%;
    border-bottom: 1px solid;
    font-family: 'Algerian';
    
}
.containerPersonagen2:last-child{
    border-bottom: none;
}
.containerPersonagen2 p {
    font-size: 1.2rem;

}
.containerPersonagen2 span{
    font-size: 1rem;
}
.ftPerson{
    background-image: url(../img/personagens/First.png);
    background-size: cover;        /* A imagem ocupará toda a div */
    background-position: center;    /* Centraliza a imagem */
    background-repeat: no-repeat;   /* Evita que a imagem se repita */
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    border: 15px groove #5c4033;
    border-radius: 12px;
}