body
{
 overflow-y: auto;
 overflow-x: hidden;
}
.conteinerPersonageDesc
{
    background-color: #f4e1c1;
    min-width: 40rem;
    min-height: 45rem;
    max-width: 100rem;
    max-height: 50rem;
    border: 11px double #5c4033;
    overflow-y: auto;
    overflow-x: hidden; 
}
.desc
{

    width: 100%;
    min-height: 3rem;
    height: auto;
}
.ftPerson
{
    margin-top: 30rem;
}